.people_interviews {
  padding: 104px 0 52px 0;
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF 50%, #F0F0F0 50%, #F0F0F0);
  @include max-screen(991px) {
    padding: 30px 0;
  }

  .container {
    max-width: 1064px;
    margin: auto;
    text-align: center;

    h2 {
      font-family: 'robotobold', sans-serif;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #000000;
      margin-bottom: 102px;
      @include max-screen(767px) {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 60px;
      }
      @include max-screen(575px) {
        font-size: 26px;
        line-height: 34px;
      }


    }

    .people_int {
      a {
        font-family: 'robotobold', sans-serif;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-decoration-line: underline;
        color: #000000;
        @include max-screen(575px){
          font-size: 16px;
        }
      }

      p {
        &:first-of-type {
          margin-bottom: 40px;
          font-family: 'robotobold', sans-serif;
          font-size: 22px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.6px;
          color: #000000;
          @include max-screen(767px) {
            margin-bottom: 20px;
            font-size: 19px;
            line-height: 22px;
          }
          @include max-screen(575px) {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 20px;
          }
          @include max-screen(428px){
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 16px;
          }
        }

        &:last-of-type {
          font-family: 'robotoregular', sans-serif;
          font-size: 19px;
          line-height: 22px;
          text-align: center;
          color: #000000;
          margin-bottom: 44px;
          @include max-screen(575px) {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
          }
          @include max-screen(428px){
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }



      img {
        margin-bottom: 35px;
        width: 100%;
        @include max-screen(575px){
          margin-bottom: 17px;
        }
      }
    }
  }
}

