@import "fonts";
@import "mixin";
@import "header";
@import "main_banner";
@import "our_guides";
@import "people";
@import "about_features";
@import "people_interviews";
@import "subscribe_page";
@import "footer";





/*.reverse {
  background-color: rgba(204, 204, 204, 0.6);
  padding: 76px 0 51px;
}

.reverse .container {
  flex-direction: row-reverse;
  text-align: right;
}

.people_reverse .about_people h4 {
  padding-top: 92px;
}*/


