
.subscribe_page {
  padding: 79px 0 98px;
  h2 {
    font-family: 'robotobold', sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }
  h4 {
    font-family: 'robotobold', sans-serif;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 26px;
  }
  form{
    .input_bottom{

      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        padding: 7px 23px 10px;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 100px;
        font-family: 'robotoregular', sans-serif;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
      }

      input {
        font-family: 'robotoregular', sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #A0A0A0;
        border: 1px solid #000000;
        width: 366px;
        height: 39px;
        padding: 0 0 0 8px;
        margin-bottom: 23px;
        box-sizing: border-box;
        outline: none;
        @include max-screen(575px){
          width: 100%;
        }

      }

    }
    .input_top {
      input {
        font-family: 'robotoregular', sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #A0A0A0;
        border: 1px solid #000000;
        width: 153px;
        height: 39px;
        padding: 0 0 0 8px;
        margin-bottom: 18px;
        outline: none;
        box-sizing: border-box;
        @include max-screen(575px){
          width: 100%;
        }
      }
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      @include max-screen(575px){
        gap: 10px;
      }
    }
  }
}
